.avatar {
    img {
        height: 100%;
        object-fit: cover;
    }
}

section {
    position: relative;

    &#establishments {
        .card {
            .card-body {

                img {
                    display: block;
                    width: 100%;
                    height: 250px;
                    border-radius: 15px;
                    margin: 10px 0;
                }
            }
        }
    }
}